body {
  background-color: #fbfbfb;
  place-items: center;
}

.App {
  position: relative;
  font-family: 'Poppins', sans-serif;
}
.app-name {
  font-size: 2rem;
  margin: 2%;
  color: gray;
  font-family: inherit;
  font-weight: bold;
}

h1 {
  display: grid;
  place-items: center;
  color: gray;
  font-size: 1.8rem;
}

.input-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 79%;
  margin: 0 auto;

  box-sizing: border-box;
  padding: 1.5rem;
  -ms-flex-item-align: start;
  align-self: flex-start;
  text-transform: uppercase;
  box-shadow: -10px 10px 10px 0 rgba(1, 1, 1, 0.05);
  border-radius: 0.75rem;
}

.calendar-info {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 50%;
  padding: 11px 0 5px 0;
  text-align: center;
  font-size: 1.6rem;
  color: gray;
}
.day {
  font-weight: bold;
  font-size: 2rem;
}

.todo-input,
.todo-text {
  box-sizing: border-box;

  font-size: 1rem;
  background: transparent;
  width: calc(100% - 3rem - 5px);

  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: gray;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

.todo-input:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #1f96c5, #3b44fb);
  border-image-slice: 1;
}

.todo-button {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 3rem;
  height: 3rem;
  background: #3b44fb;
  color: white;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 0.75rem;
  border: 0;
  outline: 0;
  will-change: transform;
}

.todo-list {
  border: 0px solid #e0e0e0;
  /* box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07); */
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  border-color: gray;
}
ul {
  list-style-type: none;
  padding: 0;
}

.todo,
.stack-small {
  width: 250px;
  height: 120px;
  margin: 10px;
  margin-bottom: 10px;
  padding: 1.35rem;
  font-size: 1.5rem;
  font-variant-caps: all-small-caps;
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: gray;
  border-right: 0px solid lightgray;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
  border-radius: 0.75rem;
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;

  display: grid;
  place-items: center;
  background: white;
}

.todo:hover {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  z-index: 20;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.2);
}

.edit-btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #3b44fb;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 0.75rem;
  border: 0;
  outline: 0;
  will-change: transform;
  position: absolute;
  top: 70%;
  left: 60%;
  cursor: pointer;
}
.edit-btn:hover {
  background: tomato;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}
.complete-btn,
.todo-edit,
.confirm-delete-btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #3b44fb;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 0.75rem;
  border: 0;
  outline: 0;
  will-change: transform;
  position: absolute;
  top: 70%;
  left: 73%;
  cursor: pointer;
}
.todo-edit:hover,
.complete-btn:hover,
.confirm-delete-btn:hover {
  background: green;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

.trash-btn,
.todo-cancel,
.cancel-delete-btn {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  width: 2rem;
  height: 2rem;
  background: #3b44fb;
  color: white;
  text-align: center;
  font-size: 0.8rem;
  font-weight: 300;
  border-radius: 0.75rem;
  border: 0;
  outline: 0;
  will-change: transform;
  position: absolute;
  top: 70%;
  left: 86%;
  cursor: pointer;
}

.todo-cancel:hover,
.trash-btn:hover,
.cancel-delete-btn:hover {
  background: red;
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

/*CUSTOM SELECTOR */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 2rem;
  position: relative;
  overflow: hidden;
}

.info-bottom {
  position: relative;
  height: 50px;
  width: 65%;
  margin: 30px auto 0 auto;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.widgets {
  border: 0px solid #e0e0e0;

  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: flex-start;
  flex-wrap: wrap;
  width: 80%;
  margin: 0 auto;
  position: relative;
  padding: 10px;
  border-color: gray;
}
.total-widget {
  width: 120px;
  height: 60px;
  margin: 10px;
  padding: 1.35rem;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: gray;
  border-right: 0px solid lightgray;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
  border-radius: 0.75rem;
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;

  display: grid;
  place-items: center;
  background: white;
}
.count {
  margin: 0;
}

.completed-status {
  display: inline-block;
  position: absolute;
}

.completed-status:after {
  content: '  ';
  position: absolute;

  display: block;
  width: 100%;
  height: 2px;
  margin-top: -0.6em;
  background: green;
  transform-origin: top left;
  animation: strikethrough 0.5s 0.5s cubic-bezier(0.55, 0, 0.1, 1) 1 forwards;
  transition: transform 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transform: scaleX(0);
}
.modal {
  width: 300px;
  height: 120px;
  margin: 17px;
  margin-bottom: 10px;
  padding: 1.35rem;
  font-size: 1.5rem;
  justify-content: center;
  /* font-variant-caps: all-small-caps; */
  font-weight: 600;
  letter-spacing: 0.03rem;
  color: gray;
  border-right: 0px solid lightgray;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 30px 0 rgba(1, 1, 1, 0.07);
  border-radius: 0.75rem;
  -webkit-animation: fadeIn 0.5s linear;
  animation: fadeIn 0.5s linear;

  display: grid;
  place-items: center;
  background: white;
}

/* Keyframes for initial animation */

@keyframes strikethrough {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -50px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    margin-top: 0px;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    margin-top: -50px;
  }
}
